*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* header */
header{
    height: 50px;
    background-color:rgb(49,97,224);
    width: 100%;
}

.contenitore-header{
    padding-top: 5px;
}


.border{
    border: 1px dotted black;
}
.riga-header{
    max-width: 1200px;
    margin: auto;
    height: 35px;
    display: flex;
    
    
}

.colonne-header{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 8px;

}
.piccole-25{
    width: 25%;
    
}

.grande-50{
    justify-content: center;
    width: 50%;
    
}

.scritta-destra{
    justify-content: right;
}

/* bottone */
.bottone{
    border-radius: 15px;
    padding: 10px;
    border: 0px;
}

.sfondo-bianco{
    background-color: white;
}

.grassetto{
    font-size: x-large;
}

.sfondo-nero{
    background-color: black;
    color: white;
}

.contenitore-bottoni{
    margin: 20px;
    text-align: center;
}
/* lista ul */
ul {
    list-style-type: none;
}
li{
    display: inline-block;
    margin:10px;
}

a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}


/* main */

/* contenitore blu con dentro un contenitore rosa  */
.contenitore-foto{
    height: 700px;
    max-width: 100%;
    
}
.contenitore {
    height: 300px;
    width: 100%;
    margin: 0 auto;
}
.sfondo-alto{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.riga{
    max-width: 1200px;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.colonna{
    height: 250px;
    margin: auto;
    
}

.titolo-main{
    font-size: 50px;
    text-align: center;
    color: white;
}

.p-main{
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.rosa-main{
    width: 80%;
    margin: auto;
    
}

.bottone-grande{
    border-radius: 30px;
    padding: 15px;
    border: 0px;
    margin: 10px 15px;
}


/*  Format 1 - 2 colonne*/

.titolo-format{
    font-size: 30px;
}

.p-format{
    margin-top: 30px;
}

.riga-larghezza-minore{
    width: 60%;
    height: 100%;
    display: flex;
    margin: 0 auto;

}

.celeste{  
    background-color: rgb(5, 107, 224);
    width: 70%;
}

.img-format{
    width: 50%;
}

.rosa{
    background-color: rgba(255, 213, 242, 0.863);
    width: 30%;
}

/*format 2 - 2 colonne + sfondo */
.sfondo-grigio{
    background-color: rgba(185, 185, 185, 0.603);
}

/*format 4 - 1 colonna + sfondo*/

.img-grande{
    width: 100%;
}

.testo-centrale{
    text-align: center;
}

.bg-stelline{
    background-image: url(../img/stars.svg);
    background-size: 40%;
}

.contenitore-grande{
    height: 600px;
    margin: 0 auto;

}

.colonna-grande{
    height: 500px;
    width: 60%;
    margin: auto;
    background-color: green;
}

.bg-viola{
    background-color: rgba(142, 161, 225, 1);
}

/* footer */
/* sfondo nero + 5 colonne  */

.titolo-footer{
    font-size: 25px;
}

.colore-bianco{
    color: white;
}

.colore-viola{
    color: rgba(142, 161, 225, 1);
}

.sfondo-nero{
    background-color: black;
}

.colonna-grande-footer{
    width: calc(100% / 4);
    background-color: red;
}

.colonna-footer{
    width: calc(75% / 4);
    background-color: rgb(7, 226, 226);
}

.border-bianco{
    border: 1px dotted white;
}

#margin-bottom-grigio{
    border-bottom: solid 3px grey;
}

.margin-top{
    margin-top: 10px;
}

/* rettangolo con due div agli estremi */

.contenitore-footer{
    padding-bottom: 40px;
    padding-top: 15px;
}

.sfondo-colore-acqua{
    background-color: aquamarine;
    
}

.sfondo-rosa{
    background-color: rgba(255, 213, 242, 0.863);
    padding: 3px;
}

.spazio-between{
    align-items: center;
    justify-content: space-between;
}

